@import 'tailwindcss';

@theme {
  --font-dm-sans: var(--font-dm-sans);
  --font-montserrat: var(--font-montserrat);

  --animate-pulsate: pulsate 2s ease-in-out infinite;
  --animate-fade-in: fade-in 0.5s ease-in-out;

  --color-manhattan-gray: #525252;
  --color-primary-hover: #4A4D8A;
  --color-matte-black: #171717;
  --color-rice-flower: #EBFFE2;
  --color-dark-navy: #1E1E2D;
  --color-new-gray: #A3A3A3;
  --color-primary: #5A65AB;

  --breakpoint-2xl: 1920px;
  --breakpoint-xl: 1440px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 640px;
  --breakpoint-xs: 440px;

  @keyframes pulsate {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.04);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

html {
  scroll-behavior: smooth !important;
}

button,
[role='button'] {
  cursor: pointer !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  transition:
    background-color 32768s 0s,
    color 32768s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #5B5EA6;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 0px;
}
